$primaryBackground: #1c531d;
$ButtonFill: #238ab6;
$FontFamily: "Open Sans";
$cardRegularBackground: #fefefe;

body {
  background-color: $primaryBackground;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2%;

  > #cards {
    height: 50%;
    margin: 1rem auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    > div {
      margin: none;
      border-radius: 0.5rem;
      width: 30%;
      height: 50%;
    }
  }

  > #header {
    color: $cardRegularBackground;
    font-family: $FontFamily;
    margin: 1rem auto;
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      > h2 {
        font-weight: bold;
      }
      > p {
        font-size: small;
      }
    }
    > h3 {
      margin: auto auto;
    }
  }
}

.cardBackground {
  background: url("../Background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.cardFlipped {
  background-color: $cardRegularBackground;
  background-size: auto;
  display: flex;
  flex-direction: column;
}

.cardText {
  color: rgba(0, 0, 0, 0.8);
  font-size: 5rem;
  margin: auto auto;
  text-align: center;
  font-family: $FontFamily;
  font-weight: bold;
}
